## IMDB Top 250 movies
IMDb Top 250 is a list of the highest-rated movies as voted by IMDb users. It is a dynamic list that constantly changes based on user ratings and rankings. The IMDb Top 250 movies represent a wide range of genres, languages, and time periods, showcasing films from around the world that have garnered critical acclaim and popularity among audiences. The list includes classics, contemporary favorites, and influential films that have made a significant impact on the world of cinema. It serves as a reference for movie enthusiasts looking to explore highly regarded films and serves as a measure of the collective opinion of IMDb users.

- Libraries needed to scrape the data :

In [1]:
from  bs4 import BeautifulSoup as bs 
import pandas as pd
import requests 
import re

In [2]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.76 Safari/537.36'}

In [3]:
url = 'https://www.imdb.com/chart/top/?ref_=nv_mv_250' #url from where data is getting scraped

In [4]:
webpage = requests.get(url, headers=headers).text
soup = bs(webpage, 'lxml')

In [5]:
res=soup.find('tbody',class_='lister-list') # to find the desired HTML tag

In [6]:
m_no = [] # Variable to store movie  ranking
m_nm = [] # Variable to store movie  name
m_rd = [] # Variable to store movie  release year
m_rt = [] # Variable to store movie  IMDb movie rating
c = 1

for i,j in zip(res.find_all('td',class_='titleColumn'),res.find_all('td',class_='imdbRating')):
    m_no.append(c)
    m_nm.append(" ".join(i.text.strip().split()).split('(')[0].split('.')[1].strip())
    m_rd.append(" ".join(i.text.strip().split()).split('(')[1].strip(')'))
    m_rt.append(j.text.strip())
    c += 1

In [7]:
df = pd.DataFrame() # Creating a blank Dataframe

In [8]:
#Storing data in the form of columns
df['movie_rank'] = m_no
df['movie_name'] = m_nm
df['release_year'] = m_rd
df['rating'] = m_rt

In [9]:
df.shape #To obtain the shape of dataframe

(250, 4)

In [10]:
df.head() # Shows The first 5 rows

   movie_rank                movie_name release_year rating
0           1  The Shawshank Redemption         1994    9.2
1           2             The Godfather         1972    9.2
2           3           The Dark Knight         2008    9.0
3           4     The Godfather Part II         1974    9.0
4           5              12 Angry Men         1957    9.0

In [11]:
df.tail() # Shows The last 5 rows

     movie_rank          movie_name release_year rating
245         246            The Help         2011    8.0
246         247      The Iron Giant         1999    8.0
247         248       Life of Brian         1979    8.0
248         249             Aladdin         1992    8.0
249         250  Dances with Wolves         1990    8.0

## Conclusion:
- The IMDb Top 250 movies offer a valuable resource for movie lovers, providing a curated selection of quality films, diverse genres, and cultural significance. It serves as a guide for discovering and appreciating acclaimed movies from around the world.

- The IMDb Top 250 movies comprise the highest-ranking 250 films based on its user votes. The list is subject to change as new movies receive more votes or the existing rankings shift . Then we would have to re-run the script to get the data.